#titulo-formulario{
    color: white;
} 

form {
    max-width: 400px;
    min-width: 200px;
}
#section-form {
    border: 1px solid red;
    display: flex;
    justify-content: center;

}

#botton-form{
    display: flex;
    margin-left: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
}